.DS_Store
/.gradle/
/.idea/
/build/
/captures/
/gradlew.bat
*.iml
/app/.externalNativeBuild
/app/build/
/local.properties
/gradle.properties
/app/app.iml
/gradlew
/app/.idea/
/app/gradle/
/app/gradlew.bat
/app/local.properties
/app/gradlew
/app/*.apk
